@import "../../../styles/variables.scss";

main {
  padding: 16px 0;
  background: $beige;

  border-bottom: 2px solid $orange;

  ol {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;

    li {
      font-size: 1.4rem;
      white-space: nowrap;
    }
  }
}
