@import "../../../styles/variables.scss";
@import "../../../styles//mixins.scss";

article#comment {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 17px auto;

  grid-template-areas:
    "upvote header"
    "thread comment"
    "thread ul";

  img {
    grid-area: upvote;

    width: 13px;

    @media (min-width: 750px) {
      width: 11px;
    }
  }

  header {
    @include flex(row, flex-start, flex-start);

    margin-bottom: 10px;

    color: $grey;
    font-size: 1.1rem;

    a {
      color: $grey;
      margin-right: 5px;
    }

    button {
      color: $grey;

      outline: none;
      border: transparent;
      background-color: transparent;

      cursor: pointer;
    }
  }

  button#thread {
    grid-area: thread;

    height: calc(100% - 8px);
    min-height: 15px;

    margin-left: 4px;
    margin-top: -8px;

    outline: none;
    border: transparent;
    border-left: 1px solid $grey;

    background-color: transparent;

    cursor: pointer;
  }

  // ul#direct-replies {
  //   list-style-type: none;

  //   li {
  //     @media (min-width: 750px) {
  //       margin-left: 30px;
  //     }
  //   }
  // }

  div#comment-body-container {
    grid-area: comment;
    overflow-x: auto;

    div#comment-body {
      width: 100%;
      max-width: 350px;

      margin-bottom: 13px;

      overflow-x: auto;
      overflow-y: hidden;

      white-space: break-spaces;

      a {
        white-space: pre-wrap;
      }

      @media (min-width: 750px) {
        max-width: 100%;

        font-size: 1.2rem;
      }
    }
  }

  // styling for nested lists of direct replies
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      @media (min-width: 750px) {
        margin-left: 15px;
      }
    }
  }
}
