@import "../../../styles/variables.scss";

li {
  font-size: 1.4rem;
  white-space: nowrap;

  article {
    display: inline-grid;

    width: calc(100% - 15px);

    margin-bottom: 8px;

    grid-template-rows: auto;
    grid-template-columns: 15px auto;
    grid-template-areas:
      "upvote header"
      "upvote details";

    row-gap: 5px;

    img#upvote {
      grid-area: upvote;

      width: 12px;
      padding-top: 2px;

      @media (min-width: 750px) {
        width: 10px;
        padding-top: 4px;
      }
    }
  }

  // creates indendation to align list-item numbers right
  article:nth-child(-n + 9) {
    width: calc(100% - 28px);
  }
}
// creates indendation to align list-item numbers right
li:nth-child(-n + 9) {
  padding-left: 8px;
}
