@import "../../../styles/variables.scss";

main {
  padding: 16px 0;
  background: $beige;

  border-bottom: 2px solid $orange;

  min-height: calc(100vh - 22px);

  ol {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;

    li {
      margin-bottom: 10px;
    }
  }
}
