@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section#story-error {
  display: inline;

  p {
    display: inline;

    color: red;
    margin-left: 15px;
  }
}

section#story {
  display: inline-grid;

  // -15px compensates for upvote arrow
  width: calc(100% - 15px);

  grid-template-rows: auto;
  grid-template-columns: 15px auto;

  grid-template-areas:
    "upvote h2"
    "upvote details";

  row-gap: 5px;

  img#upvote {
    grid-area: upvote;

    width: 13px;
    margin-top: 6px;

    @media (min-width: 750px) {
      width: 11px;
      margin-top: 8px;
    }
  }

  h2 {
    margin: 0;

    font-weight: normal;
    white-space: pre-line;

    a {
      color: black;
      font-size: 1.4rem;
      text-decoration: none;
    }

    span#source-host {
      color: $grey;
      font-size: 1rem;
    }
  }

  p#details {
    grid-area: details;
    margin: 0;

    color: $grey;
    font-size: 1.2rem;

    white-space: pre-line;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 750px) {
      font-size: 1rem;
    }
  }
}
