@import "../../../styles/variables.scss";

section#story {
  display: inline-flex;
  flex-direction: column;

  h2 {
    display: inline-block;

    margin: 0;
    margin-bottom: 10px;
    line-height: 0;
    font-weight: normal;
    white-space: pre-line;

    a {
      color: black;
      font-size: 1.4rem;
      text-decoration: none;
    }

    span#source-url {
      color: $grey;
      font-size: 1rem;
    }
  }

  p#details {
    grid-area: details;

    margin: 0;

    white-space: pre-line;

    color: $grey;
    font-size: 1rem;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 750px) {
      font-size: 0.9rem;
    }
  }
}
