@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section#story {
  display: inline-flex;
  flex-direction: column;

  // -50px compensates for list item numbers
  width: calc(100% - 50px);

  h2 {
    margin: 0;
    margin-bottom: 10px;

    font-weight: normal;

    line-height: 0.8;

    a {
      color: black;
      font-size: 1.4rem;
      text-decoration: none;
    }

    span#source-url {
      color: $grey;
      font-size: 1rem;
    }
  }

  p#details {
    margin: 0;

    color: $grey;
    font-size: 1rem;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 750px) {
      font-size: 0.9rem;
    }
  }
}
