@import "../node_modules/normalize.css/normalize.css";

html {
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

* {
  box-sizing: border-box;
}
