@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
main {
  section#user-rofile {
    display: table;
    width: 200px;

    h2,
    p {
      display: table-row;

      span {
        display: table-cell;
      }
    }

    h2 {
      font-size: 1.4rem;
      font-weight: normal;
    }

    a {
      font-size: 1.4rem;
      text-decoration: underline;
      color: $grey;
    }
  }
}
